body {
    background-color: #242424;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    
}


.container-icon {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 80%;
    max-width: 344px;
    margin: 24px auto;
    box-sizing: border-box;
}

.icon {
    width: 44px;
    height: 44px;
    background-color: #6c6c6c;
    border-radius: 6px;
    border: none;
    outline: none;
    cursor: pointer;
}

.block-title {

    width: auto;
    max-width: 344px;
    height: auto;
    padding: 5px 14px;
    align-items: center;
    margin: 0 auto;
    flex-direction: column;
    background-color: #6c6c6c;
    border-radius: 14px;
    border: none;
    color: #e7e7e7;


}



.container {
    display: flex;
    flex-direction: column;
    width: 80%;
    max-width: 344px;
    margin: 24px auto;
    border-radius: 20px;
    overflow: hidden;
    
    
}

.box-text {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    height: auto;
    padding: 14px 20px;
    background: #6c6c6c;
    box-sizing: border-box;
}

.text-block {
    font-size: 14px;
    color: #e7e7e7;
}

.box {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    height: 44px;
    padding: 10px 15px;
    background: #6c6c6c;
    box-sizing: border-box;
}

.box::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 24px;
    right: 24px;
    height: 1px;
    background: black;
}

.container a:last-child .box::after {
    display: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.container a {
    display: block;
    width: 100%;
}

.text-block {
    padding-left: 10px;
    display: flex;
    flex-direction: column;
}

.title {
    font-weight: bold;
    font-size: 10px;
    opacity: 0.8;
    color: #e7e7e7;
}

.subtitle {
    font-size: 9px;
    opacity: 0.7;
    color: #e7e7e7;
}

.text-block-left {
    margin-left: auto;
    padding-right: 10px;
    align-items: center;
    display: flex;
}

.box-cal {
    width: 100%;
    height: auto;
    padding: 10px 15px;
    background: #6c6c6c;
    box-sizing: border-box;

}

.calendar .weekday,
.calendar .day {
    
    justify-content: center;
    align-items: center;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(7, 24px);
    gap: 10px;
}

.weekday {
    display: flex;
    margin: 0 auto;
    margin-bottom: 6px;
    height: 24px;
    width: 84%;
    background-color: #5f5f5f;
    border-radius: 20px;
}

.day>div {
    height: 24px;
}

.box-slider {
    position: relative;
    display: flex;
    align-items: center;
    margin: 0 auto;
    padding: 5px 5px;
    width: 100%;
    height: 34px;
    background-color: #6c6c6c;
    border-radius: 20px;
    box-sizing: border-box;
}

.button-slider {
    position: absolute;
    width: 74px;
    height: 24px;
    background-color: #b0b0b0;
    border-radius: 20px;
    cursor: pointer;
}

.button-slider{
    transition: 0.04s;
}
#completed {
    width: 100%;
    height: auto;
    padding: 10px 15px;
    background-color: #6c6c6c;
    box-sizing: border-box;
}

#taskCount{
    font-weight: bold;
    font-size: 10px;
    padding-left: 6px;
    opacity: 0.8;
    color: #e7e7e7;
}





